<!DOCTYPE html>
<html>
  <head>
    <title>Crystal Snake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <meta property="og:title" content="Crystal Snake" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="A BattleSnake template written in Crystal">
    <meta property="og:image" content="https://crystal-lang.org/assets/media/crystal_logo.svg" />
    <meta property="og:url" content="https://github.com/fdocr/CrystalSnake" />
    <meta name="twitter:card" content="summary_large_image">

    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body>
    <main class="w-full">
      <%= content %>
    </main>
  </body>
</html>
